<div class="panel panel-default">

  <div class="panel-heading">Product Details</div>
  <div class="panel-body">

    <ul class="list-group">

      <li ng-repeat="(field, item) in productCtrl.validateProductDetailsMap"
          class="list-group-item">
        <h4 class="list-group-item-heading">{{item.title}}</h4>

        <p ng-if="!item.inputType" class="list-group-item-text">
          {{productCtrl.productDetails[field]}}</p>
        <input ng-if="item.inputType && item.inputType !== 'select' " class="inputEdit"
               type="{{item.inputType}}"
               ng-model="productCtrl.productDetails[field]" ng-disabled="productCtrl.editDisabled"
               uib-popover="{{item.message}}" popover-placement="top-left"
               popover-trigger="none" popover-is-open="item.visible"
               ng-click="productCtrl.closePopover(item)"
               input-number-filter="FLOAT"
               min="0">
        <select ng-if="item.inputType && item.inputType === 'select' " class="inputEdit"
                ng-model="productCtrl.productDetails[field]" ng-disabled="productCtrl.editDisabled"
                uib-popover="{{item.message}}" popover-placement="top-left"
                popover-trigger="none" popover-is-open="item.visible"
                ng-click="productCtrl.closePopover(item)"
                ng-options="value for value in item.valueList">
        </select>

      </li>

      <li class="list-group-item">
        <h4 class="list-group-item-heading">Brand</h4>
        <md-autocomplete class="inputEdit inputMdAutocomplete"
                         ng-disabled="productCtrl.editDisabled"
                         md-selected-item="productCtrl.productDetails.brandModel"
                         md-search-text="productCtrl.searchBrandText"
                         md-selected-item-change="productCtrl.selectedItemChange(item)"
                         md-items="item in productCtrl.querySearch(productCtrl.searchBrandText)"
                         md-item-text="item.name"
                         md-min-length="3" placeholder="Select brand" md-no-cache="true"

                         uib-popover="{{productCtrl.brandValidator.message}}"
                         popover-placement="top-left"
                         popover-trigger="none"
                         popover-is-open="productCtrl.brandValidator.visible"
                         ng-click="productCtrl.closePopover(productCtrl.brandValidator)">
          <md-item-template>
            <span md-highlight-text="productCtrl.searchBrandText" md-highlight-flags="^i">{{item.name}}</span>
          </md-item-template>
          <md-not-found>
            No brand matching "{{productCtrl.searchBrandText}}" were found.
          </md-not-found>
        </md-autocomplete>
      </li>

      <li href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Active</h4>
        <p class="list-group-item-text">
          <input type="checkbox" ng-disabled="productCtrl.editDisabled"
                 ng-model="productCtrl.productDetails.enabled">
        </p>
      </li>

    </ul>

        <span ng-if="productCtrl.editDisabled">
            <button type="button" class="btn btn-primary"
                    ng-click="productCtrl.enableProductEdit()">Edit</button>
        </span>

        <span ng-if="!productCtrl.editDisabled">
            <button type="button" class="btn btn-primary" ng-click="productCtrl.saveProductInfo()">Save</button>
            <button type="button" class="btn btn-primary"
                    ng-click="productCtrl.cancelProductEdit()">Cancel</button>
        </span>
  </div>

</div>
