<div class="panel panel-default">

  <div class="panel-heading">Publishing conditions</div>
  <div class="panel-body">

    <ul class="list-group">

      <li class="list-group-item">
        <h4 class="list-group-item-heading">
          Status: {{publishCtrl.publishProperties.state}}
        </h4>
      </li>
      <li class="list-group-item"
          ng-repeat="(key, value) in publishCtrl.unPublishMapper">
        <h4 class="list-group-item-heading">
          {{value}}
        <span ng-if="publishCtrl.publishProperties[key]"
              class="glyphicon glyphicon-ok icon-accepted"
              aria-hidden="true">
          </span>
          <span ng-if="!publishCtrl.publishProperties[key]"
                class="glyphicon glyphicon-remove icon-rejected"
                aria-hidden="true">
          </span>
          <span ng-if="!publishCtrl.publishSettings[key].enabled">(Disabled)</span>
        </h4>

        <p class="list-group-item-text">

          {{publishCtrl.publishSettings[key].description}}
        </p>


      </li>

    </ul>

  </div>
</div>
