<div class="panel panel-default">

  <div class="panel-heading">WMS Information</div>
  <div class="panel-body">

    <ul class="list-group">

      <li ng-repeat="(field, item) in vm.validatePcbMap"
          class="list-group-item">

        <h4 class="list-group-item-heading">{{item.title}}</h4>

        <p ng-if="!item.inputType" class="list-group-item-text">
          {{vm.pcbDetails[field]}}
        </p>

        <input ng-if="item.inputType" class="inputEdit" type="{{item.inputType}}"
               ng-model="vm.pcbDetails[field]" ng-disabled="vm.editDisabled"
               input-number-filter min="1">

      </li>


      <li class="list-group-item">

        <h4 class="list-group-item-heading">Has DLC</h4>

        <input type="checkbox" ng-model="vm.dlc" ng-disabled="vm.editDisabled">

      </li>

      <li class="list-group-item">

        <h4 class="list-group-item-heading">Zone</h4>

        <div class="form-inline">
          <select class="form-control" ng-disabled="vm.editDisabled" ng-model="vm.pcbDetails.zoneId"
                  ng-change="vm.selectZone()"
                  ng-options="zone.id as zone.name for zone in vm.zones"></select>
        </div>


      </li>


      <li class="list-group-item">

        <h4 class="list-group-item-heading">Section</h4>

        <div class="form-inline">
          <select class="form-control" ng-disabled="vm.editDisabled || vm.sections.length === 0"
                  ng-model="vm.pcbDetails.sectionId"
                  ng-options="section.id as section.name for section in vm.sections"></select>
        </div>

      </li>

    </ul>

    <span ng-if="vm.editDisabled">
            <button type="button" class="btn btn-primary"
                    ng-click="vm.enableEdit()">Edit</button>
        </span>

    <span ng-if="!vm.editDisabled">
            <button type="button" class="btn btn-primary"
                    ng-click="vm.saveInfo()">Save</button>
            <button type="button" class="btn btn-primary"
                    ng-click="vm.cancelEdit()">Cancel</button>
        </span>
  </div>

</div>
