<div class="panel panel-default">

  <div class="panel-heading">Category Details</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-3">
        <button type="button" class="btn btn-success btn-action add" ng-click="openEditCategoryModal()">Edit Category</button>
      </div>
    </div>

    <ul class="list-group">

      <li href="#" class="list-group-item" ng-repeat="(key, value) in categoryDetailsMappings">
      <h4 class="list-group-item-heading">{{value}}</h4>

      <p class="list-group-item-text">{{info.category.categoryDetails[key]}}</p>
      </li>
      <li href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Featured</h4>

        <input ng-model="info.category.categoryDetails.featured" type="checkbox" disabled>
      </li>

    </ul>
  </div>
</div>


