<div class="panel panel-default">

  <div class="panel-heading">Category Media</div>
  <div class="panel-body">

    <li href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Icon <button class="btn btn-default" ng-click="selectIcon()">
        <span class="glyphicon glyphicon-search"></span>
      </button></h4>
      <p class="list-group-item-text">
        <i class="fa fa-3x" ng-class="info.category.categoryDetails.icon"></i>
      </p>
    </li>

    <li href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Image
        <div class="btn btn-default btn-file" data-toggle="tooltip"
             title="Upload category image">
          Upload <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          <input type="file" file-model="categoryImage.image" class="btn btn-primary"/>
        </div></h4>
      <p class="list-group-item-text">
        <img ng-if="info.category.categoryDetails.image !== null"
             ng-src="{{getImageMediaSrcWithTime(info.category.categoryDetails.image)}}" alt="">
      </p>
    </li>

    <li href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Banner
        <div class="btn btn-default btn-file" data-toggle="tooltip"
             title="Upload category banner">
          Upload <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          <input type="file" file-model="categoryBanner.image" class="btn btn-primary"/>
        </div></h4>
      <p class="list-group-item-text">
        <img style="max-width: 95%;" ng-if="info.category.categoryDetails.banner !== null"
             ng-src="{{getImageMediaSrcWithTime(info.category.categoryDetails.banner)}}" alt="">
      </p>
    </li>

  </div>
</div>


