<div class="modal fade" id="addAttributeModal" tabindex="-1" role="dialog"
     aria-labelledby="basicModal"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add attribute</h4>
      </div>
      <form role="form" name="addAttributeForm" data-toggle="validator">
        <div class="modal-body">
          <fieldset>
            <div class="row list-group">
              <div class="list-group-item" ng-repeat="attr in attributes">{{attr}}</div>
            </div>

            <div class="form-group">
              <label for="typeSelect">Type</label>
              <select class="form-control" id="typeSelect" ng-model="attr.type" ng-change="resetAttrModel()" required>
                <option ng-repeat="attrType in attrTypes" value="{{attrType | uppercase}}">{{attrType}}</option>
              </select>
            </div>

            <div ng-show="attr.type === 'LIST'">
              <div class="container">
                <div class="btn btn-default btn-small" ng-repeat="item in attr.values">{{item}}</div>
              </div>
              <div class="form-inline .m-t-1">
                <div class="form-group">
                  <label for="listItems">Add items for list</label>
                  <input type="text" class="form-control" id="listItems" ng-model="itemName">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="addListItem(itemName)">Add
                </button>
              </div>
            </div>

            <div ng-show="attr.type === 'ICON'">
              <div class="btn btn-default btn-file" data-toggle="tooltip"
                   title="Upload category image">
                Upload <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                <input type="file" file-model="attrImage.image" class="btn btn-primary"/>
              </div>
              <div ng-show="imageEncodedUrl">
                <p class="list-group-item-text margin-top-bottom-10">
                  <img class="img-responsive" ng-src="{{imageEncodedUrl}}" alt="">
                </p>
              </div>
            </div>

            <div ng-show="attr.type === 'RANGEABLE'">
                <div class="form-group range-input-container">
                  <label>Range</label>
                  <input placeholder="Inferior Limit" type="number" class="form-control" input-number-filter="FLOAT" ng-model="attr.range.inferiorLimit">
                  <input placeholder="Superior Limit" type="number" class="form-control" input-number-filter="FLOAT" ng-model="attr.range.superiorLimit">
                  <input placeholder="Gap" type="number" class="form-control" min="0" input-number-filter="FLOAT" ng-model="attr.range.gap">
                </div>
            </div>


            <div class="form-group">
              <label for="formGroupSlugInput">Slug</label>
              <input type="text" class="form-control" id="formGroupSlugInput" ng-model="attr.slug"
                     placeholder="Slug" required/>
            </div>

            <div class="form-group">
              <label for="formGroupExampleInput">Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput"
                     ng-model="attr.name"
                     placeholder="Attribute" required/>
            </div>

            <label>Characteristics</label>

            <div class="checkbox">
              <label>
                <input ng-model="attr.isSortable" type="checkbox"/> Sortable
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-model="attr.isFilterable" type="checkbox"/> Filterable
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-model="attr.isSearchable" type="checkbox"/> Searchable
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-model="attr.isMandatory" type="checkbox"/> Mandatory
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input ng-model="attr.isHidden" type="checkbox"/> Hidden
              </label>
            </div>

          </fieldset>

        </div> <!-- end modal content-->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-default marginBottom"
                  ng-disabled="addAttributeForm.$invalid || invalidRange(attr)" ng-click="addAttribute(attr)">Add
            Attribute
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
