<form role="form" name="addCategory" data-toggle="validator" id="categoryForm">
  <div class="form-group">
    <label for="category-name">Category Name:</label>
    <input type="input" class="form-control" id="category-name" ng-model="editModel.name"
           required="required"/>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <input type="input" class="form-control" id="description" ng-model="editModel.description"
    />
  </div>

  <div class="form-group" ng-if="shouldDisplayCategoryModalField(editModel)">
    <label for="sort-number">Sort Number:</label>
    <input type="number" input-number-filter="" min="0"
           class="form-control" id="sort-number" ng-model="editModel.positionInParent"
           required="required"/>
  </div>

  <div class="form-group" ng-show="shouldDisplayCategoryModalField(editModel)">
    <label for="start-date">Start Date:</label>
    <input type="input" class="form-control datePicker" id="start-date"
           ng-model="editModel.startDate"
           required="required" placeholder="yyyy-mm-dd"/>
  </div>

  <div class="form-group" ng-show="shouldDisplayCategoryModalField(editModel)">
    <label for="end-date">End Date:</label>
    <input type="input" class="form-control datePicker" id="end-date" ng-model="editModel.endDate"
           placeholder="yyyy-mm-dd"
    />
  </div>

  <div class="form-group" ng-if="shouldDisplayCategoryModalField(editModel)">
    <label for="category-link">Category Link: </label>
    {{editModel.link}}<input type="input" class="form-control" id="category-link" ng-model="editModel.newLink" required
                             pattern="[^\/\s]+"/>
  </div>

  <div class="form-group" ng-if="shouldDisplayCategoryModalField(editModel)">
    <label for="featured">Featured:</label>
    <input type="checkbox" class="form-control" id="featured" ng-model="editModel.featured"/>
  </div>
</form>
