<!--MODAL-->
<div class="modal fade" id="errorsUploadTemplate" tabindex="-1" role="dialog"
     aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog tableModal">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Errors for upload
                </h4>
            </div>
            <div class="modal-body">

                <table ng-table="tableParams" class="table table-bordered table-hover">

                    <tr ng-repeat="errorItem in $data">

                        <td data-title="'Row'" >{{errorItem.row || " "}}</td>
                        <td data-title="'Column'">{{errorItem.column || " "}}</td>
                        <td data-title="'Error'">{{errorItem.error || " "}}</td>

                    </tr>

                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>