<div class="modal-header">
  <h3 class="modal-title">Replace product: {{selectedProduct.title}} - {{selectedProduct.quantity}} -
    {{selectedProduct.price}}</h3>
</div>
<div class="modal-body">
  <ng-table-generator columns="replacementTableData.columns"
                      service-get-data="replacementTableData.getData(page, size, filter)"
                      is-filterable="true" scope-functions="replacementTableData.scopeFunctions">
  </ng-table-generator>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="closeModal()">Cancel</button>
</div>