<div style="position: relative">
<input type="input" name="deliveryDate"
       class="form-control datePicker ng-pristine ng-valid ng-scope ng-empty ng-touched"
       placeholder="yyyy-mm-dd"
       ng-disabled="$filterRow.disabled"
       readonly="readonly"
       ng-model="params.filter()[name]"/>
<span class="searchclear glyphicon glyphicon-remove-circle"></span>
  <div>

<script>
  (function () {
    angular.element(".datePicker").datepicker(
      {
        format: "yyyy-mm-dd",
        autoclose: true,
        clearBtn: true
      });

    angular.element(".searchclear").on('click', function () {
      angular.element(".datePicker").datepicker('clearDates');
    });
  })();

</script>
