<div layout="row">
  <h3>Learning Resources</h3>
</div>
<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

  <md-card ng-repeat="subject in vm.subjects" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{subject.name}}</span>
        <span class="md-subhead">{{subject.smallTitle}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-lg card-media">
          <img ng-src="{{subject.linkImage}}" alt="">
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ui-sref="{{subject.linkState}}">Check it out!</md-button>
    </md-card-actions>
  </md-card>

</div>