<div layout="row">
  <h3>Javascript Resources</h3>
</div>
<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

  <md-list>

    <md-subheader class="md-no-sticky">Single Action Checkboxes</md-subheader>
    <md-list-item>
      <a href="https://www.codecademy.com/learn/javascript">https://www.codecademy.com/learn/javascript</a>
    </md-list-item>
    <md-list-item>
      <a href="http://www.w3schools.com/js/">http://www.w3schools.com/js/</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.udacity.com/course/javascript-basics--ud804">https://www.udacity.com/course/javascript-basics--ud804</a>
    </md-list-item>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Intermediate</md-subheader>
    <md-list-item>
      <a href="http://eloquentjavascript.net/">http://eloquentjavascript.net/</a>
    </md-list-item>
    <md-list-item>
      <a href="http://yuiblog.com/blog/2006/11/27/video-crockford-advjs/">http://yuiblog.com/blog/2006/11/27/video-crockford-advjs/</a>
    </md-list-item>

    <md-subheader class="md-no-sticky">Advanced</md-subheader>
    <md-list-item>
      <a href="http://ejohn.org/apps/learn/">http://ejohn.org/apps/learn/</a>
    </md-list-item>
    <md-list-item>
      <a href="https://www.udacity.com/course/javascript-design-patterns--ud989">https://www.udacity.com/course/javascript-design-patterns--ud989</a>
    </md-list-item>

    <md-divider></md-divider>

    </md-list>

</div>