<div layout="row">
    <h3 class="md-display-3">Select subjects</h3>
</div>

<div layout="column">

  <md-button class="md-fab md-primary md-fab-bottom-right" title="Add a new subject" ng-click="vm.addNewSubject($event)">+</md-button>

  <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>


    <md-card ng-repeat="subj in vm.allSubjects" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>

          <md-card-title>
              <md-card-title-text>
                  {{subj.name}}
              </md-card-title-text>

              <md-card-title-media>
                  <div class="md-media-lg card-media">
                      <img ng-src="{{subj.linkImage}}" alt="">
                  </div>
              </md-card-title-media>
          </md-card-title>

          <md-card-content>
              <md-checkbox ng-model="subj.isChecked" ng-value="subj.id">
              </md-checkbox>
          </md-card-content>

      </md-card>

  </div>

</div>

<div layout="row">
  <md-button class="md-warn md-raised md-hue-2" ng-click="vm.submitSubjects()" flex="30">Submit subjects</md-button>
</div>
