<div ng-if="vm.isCoord">
  <div ng-show="vm.selectedOrder.orderStatus === 'NEW'">
    <assign-picker selected-orders="[vm.selectedOrder]"
                   after-assign="vm.changeStatus('ASSIGNED')"></assign-picker>
  </div>
</div>

<button type="button" class="btn btn-default btn-tab" ng-repeat="view in vm.viewList"
        ui-sref="{{view.name}}"
        ng-class="{'btn-primary': vm.isActiveTab(view.name)}">
  {{view.title}}
</button>

<div class="mainTabView" ui-view=""></div>


<div ng-if="vm.isCoord">
  <div class="input-group add-margin-bottom" ng-show="vm.statuses.length > 0">
    <span class="input-group-addon" id="basic-addon1">Change State</span>

    <div class="btn-group dropup" role="group">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{vm.selectedStatus || vm.statuses[0] || 'no status available'}}
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li ng-repeat="status in vm.statuses" ng-click="vm.selectStatus(status)"><a href="">{{status}}</a>
        </li>
      </ul>

    </div>

    <button class="btn btn-primary" ng-click="vm.updateStatus()"
            ng-disabled="!vm.selectedStatus">Ok
    </button>

  </div>
</div>


