$btnColor: #005AAB

html
  background-color: #fff

body
  font-family: 'Roboto', sans-serif

.image-container
  margin-bottom: 2%
  cursor: pointer

.mainTabView
  margin-top: 20px

.removeAttribute
  float: right

.panel-title
  overflow: hidden

  a
    display: inline-block
    margin-top: 6px

.btn-file
  position: relative
  overflow: hidden

.btn-file input[type=file]
  position: absolute
  top: 0
  right: 0
  min-width: 100%
  min-height: 100%
  font-size: 100px
  text-align: right
  filter: alpha(opacity=0)
  opacity: 0
  outline: none
  background: white
  cursor: inherit
  display: block

.sidebar
  text-align: center

.list-actions
  margin-bottom: 20px

.btn-tab
  margin-right: 10px

.btn-info, .btn-primary
  background: $btnColor !important


.btn-action
  margin-right: 10px
  margin-bottom: 10px
  width: 100%
  border: 1px solid rgba(0, 0, 0, 0.05)
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.7)
  color: white
  background: $btnColor !important

div.grid
  margin-bottom: 5%

.add-margin-bottom
  margin-bottom: 3%

.add-margin-bottom-fixed
  margin-bottom: 20px

li.cat-attr-list-item
  height: 50px

.category-path
  color: #858585
  display: inline-block
  float: right
  margin-top: 6px

.panel
  border: 1px solid #d8d8d8
  box-shadow: 1px 1px 2px #BBC6CC
  overflow: visible

div.grid
  border: 0 !important

.list-group .col-md-5
  margin: 5px
  border-radius: 5px

.inputEdit
  width: 50%
  min-width: 200px

.login-block
  margin-top: 10%

.modal-lg
  width: 85%
  height: 80%
  max-height: 100%
  max-width: 100%

.replacement
  background-color: grey
  &:hover
    background-color: grey !important

.control-label
  line-height: 34px

.searchclear
  position: absolute
  right: 5px
  top: 5px
  margin: auto
  font-size: 1.5em
  cursor: pointer
  color: #ccc

.Absolute-Center
  margin: auto
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

.Absolute-Center.is-Responsive
  width: 50%
  height: 50%
  min-width: 200px
  max-width: 400px
  padding: 20px

.logo-image
  margin-bottom: 5%

.accepted
  background-color: lightgreen

.rejected
  background-color: lightcoral

.icon-accepted
  color: lightgreen

.icon-rejected
  color: lightcoral

.icon-action
  color: grey
  font-size: 2em
  &:hover
    cursor: pointer
    opacity: .5

.icon-selected
  color: #000

.data-loading-bar
  pointer-events: all
  z-index: 99999
  border: none
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  top: 0
  left: 0
  cursor: wait
  position: fixed
  background-color: rgba(0, 0, 0, 0.6)

.add-margin-left
  margin-left: 0.5%

.grid-center-align
  text-align: center

.switch, .switch small, .switch.checked, .switch.checked small
  height: 20px
  margin-left: 5px

.pull-right
  display: flex
  align-items: center

.full-width
  width: 100%

.table-row-selected
  background-color: lightgrey

.popover
  max-width: none

.noItemsText
  display: block
  clear: both
  width: 100%
  padding: 5px
  margin: 5px
  font-size: 30px

#tree
  height: 600px
  overflow-y: scroll

.info-table
  td
    width: 1%
    white-space: nowrap

.iconSelect
  cursor: pointer
  &:hover
    opacity: .5

.overlay-image
  position: absolute
  top: 5px
  left: 0px

.minus-sign
  padding-top: 10px !important

.text-middle
  height: 34px
  line-height: 34px
  text-align: center
  display: inline-block
  float: left

.header-input
  padding-left: 20px
  display: inline-block
  padding-bottom: 10px

.btn-table-action
  @extend .full-width
  margin-bottom: 5px

.margin-top-bottom-10
  margin-top: 10px
  margin-bottom: 10px

.inputMdAutocomplete.md-default-theme, .inputMdAutocomplete
  background-color: #FFFFFF
  height: 30px

.inputMdAutocomplete.md-default-theme[disabled], .inputMdAutocomplete[disabled]
  background-color: #EBEBE4

.md-whiteframe-1dp, .md-whiteframe-z1
  box-shadow: none
  border: 1px solid #AAA
  height: 30px

.inputMdAutocomplete input:not(.md-input)
  padding: 0 5px
  height: 30px

.range-input-container input:not(:first-child)
  margin-top: 5px

.inputEdit .ng-timepicker-input
  float: none


.inputEdit .ng-timepicker > table > tbody > tr > td > input,
.time-interval-body .ng-timepicker > table > tbody > tr > td > input
  width: 40px


.panel-title a
  width: 100%
  &:hover
    text-decoration: none
  &:focus
    outline: none
    text-decoration: none


.time-interval-body .ng-timepicker-input
  float: none
  display: inline

.inputEdit  .md-datepicker-input-container
  border: none

.inputEdit .md-datepicker-input
  min-width: 200px
  border: 1px solid #AAA

.action-buttons
  margin-bottom: 5px

.profile-dropdown-bold
  font-weight: bold !important

.node-selected
  background-color: $btnColor !important

.disable-hover:hover, .disable-hover:focus
  background-color: transparent !important

.initial-width
  width: initial !important

.disable-pointer-events
  pointer-events: none

.ng-table-header
  min-width: 100px
  display: block

.nb-table-wide-cell
  width: 300px
  display: block

.table-display-block table
  display: block
  overflow: auto

