<div data-toggle="tooltip" title="Create a new user">
<button type="button" class="btn btn-primary add-margin-bottom-fixed" ng-click="userListCtrl.addEditUser()">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  Create a new user
</button>
</div>

<ng-table-generator columns="userListCtrl.tableInfo.columns"
                    service-get-data="userListCtrl.tableInfo.getData(page, size, filter)"
                    scope-functions="userListCtrl.tableInfo.scopeFunctions">
</ng-table-generator>
