<div class="panel panel-default">

  <div class="panel-heading">Brand Administration</div>
  <div class="panel-body">

    <div class="header-input">
      <label>Brand name</label>
      <input type="text" ng-model="brandCtrl.newBrand.name"
             uib-popover="Name is required"
             popover-placement="top-left"
             popover-trigger="none"
             popover-is-open="brandCtrl.isValidBrandName()"
             ng-click="brandCtrl.closeBrandPopover()">

      <button type="button" class="btn btn-primary" data-toggle="tooltip"
              title="Add Brand"
              ng-click="brandCtrl.addBrand()"> Add Brand
      </button>
    </div>

    <ng-table-generator columns="brandCtrl.columns"
                        is-filterable="true"
                        service-get-data="brandCtrl.getData(page, size, filter)"
                        scope-functions="brandCtrl.scopeFunctions"
                        scope-variables="brandCtrl.scopeVariables">
    </ng-table-generator>

  </div>
</div>
