<uib-accordion close-others="true">
  <uib-accordion-group is-open="deliveryCtrl.deliveryRulesOpen.rules">
    <uib-accordion-heading>
      Delivery rules
      <i class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': deliveryCtrl.deliveryRulesOpen.rules, 'glyphicon-chevron-right': !deliveryCtrl.deliveryRulesOpen.rules}"></i>
    </uib-accordion-heading>

    <ul class="list-group">
      <li class="list-group-item" href="#">
        <h4 class="list-group-item-heading">Number of days ahead to show:</h4>
        <input class="inputEdit" type="number" ng-model="deliveryCtrl.deliveryRulesData.rules.numberOfDaysAheadToShow"
               ng-disabled="!deliveryCtrl.deliveryRulesActions.enabled"
               input-number-filter=""
               min="0">
      </li>

      <li class="list-group-item" href="#">
        <h4 class="list-group-item-heading">Time after which the next day will be hidden:</h4>

        <div class="inputEdit" ng-if="deliveryCtrl.deliveryRulesActions.enabled">
          <ng-timepicker ng-model="deliveryCtrl.deliveryRulesData.rules.timeAfterHideNextDate"
                         init-time="{{deliveryCtrl.deliveryRulesData.rules.timeAfterHideNextDate}}"></ng-timepicker>
        </div>
        <div class="inputEdit" ng-if="!deliveryCtrl.deliveryRulesActions.enabled">
          {{deliveryCtrl.deliveryRulesData.rules.timeAfterHideNextDate}}
        </div>
      </li>

    </ul>

      <span ng-if="!deliveryCtrl.deliveryRulesActions.enabled">
          <button type="button" class="btn btn-primary"
                  ng-click="deliveryCtrl.deliveryRulesActions.edit()">Edit
          </button>
      </span>

      <span ng-if="deliveryCtrl.deliveryRulesActions.enabled">
              <button type="button" class="btn btn-primary"
                      ng-click="deliveryCtrl.deliveryRulesActions.save()">Save
              </button>
              <button type="button" class="btn btn-primary"
                      ng-click="deliveryCtrl.deliveryRulesActions.cancel()">Cancel
              </button>
      </span>

  </uib-accordion-group>

  <uib-accordion-group is-open="deliveryCtrl.deliveryRulesOpen.excludedDate">
    <uib-accordion-heading>
      Excluded delivery dates
      <i class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': deliveryCtrl.deliveryRulesOpen.excludedDate, 'glyphicon-chevron-right': !deliveryCtrl.deliveryRulesOpen.excludedDate}"></i>
    </uib-accordion-heading>

    <div class="header-input">
      <label uib-popover="Date is required"
             popover-placement="top-left"
             popover-trigger="none"
             popover-is-open="deliveryCtrl.excludedDateActions.isValid()">Date:</label>
      <md-datepicker md-min-date="deliveryCtrl.excludedMinDate" ng-model="deliveryCtrl.newExcludedDate.date" md-placeholder="Enter date"
                     ng-click="deliveryCtrl.excludedDateActions.closePopover()" class="inputEdit">

      </md-datepicker>
      &nbsp;
      <label>Name:</label>
      <input type="text" ng-model="deliveryCtrl.newExcludedDate.name">

      <button type="button" class="btn btn-primary" data-toggle="tooltip"
              title="Exclude date"
              ng-click="deliveryCtrl.excludedDateActions.add()">Exclude date
      </button>
    </div>

    <ng-table-generator ng-if="deliveryCtrl.deliveryRulesData.excludedDates"
                        columns="deliveryCtrl.deliveryRulesData.excludedDates.columns"
                        service-get-data="deliveryCtrl.deliveryRulesData.excludedDates.getData(page, size, filter)"
                        scope-functions="deliveryCtrl.deliveryRulesData.excludedDates.scopeFunctions">
    </ng-table-generator>

  </uib-accordion-group>

  <uib-accordion-group is-open="deliveryCtrl.deliveryRulesOpen.orderInterval">
    <uib-accordion-heading>
      Delivery intervals and limits
      <i class="pull-right glyphicon"
         ng-class="{'glyphicon-chevron-down': deliveryCtrl.deliveryRulesOpen.orderInterval, 'glyphicon-chevron-right': !deliveryCtrl.deliveryRulesOpen.orderInterval}"></i>
    </uib-accordion-heading>

    <div class="header-input time-interval-body">
      <label>Start:</label>
      <span><ng-timepicker ng-model="deliveryCtrl.newOrderInterval.start" init-time="00:00"></ng-timepicker></span>
      &nbsp;
      <label>End:</label>
      <ng-timepicker ng-model="deliveryCtrl.newOrderInterval.end" init-time="00:00"
                     uib-popover="End interval must be greater than start interval"
                     popover-placement="top-left"
                     popover-trigger="none"
                     popover-is-open="deliveryCtrl.timeIntervalsActions.isValid()"
                     ng-click="deliveryCtrl.timeIntervalsActions.closePopover()"></ng-timepicker>
      &nbsp;
      <button type="button" class="btn btn-primary" data-toggle="tooltip"
              title="Add time interval"
              ng-click="deliveryCtrl.timeIntervalsActions.add()">Add interval
      </button>
    </div>

    <table class="table table-bordered">
      <tr>
        <th class="grid-center-align" width="115px">Interval</th>
        <th class="grid-center-align">Monday</th>
        <th class="grid-center-align">Tuesday</th>
        <th class="grid-center-align">Wednesday</th>
        <th class="grid-center-align">Thursday</th>
        <th class="grid-center-align">Friday</th>
        <th class="grid-center-align">Saturday</th>
        <th class="grid-center-align">Sunday</th>
        <th class="grid-center-align" width="170px">Edit</th>
      </tr>
      <tr ng-repeat="interval in deliveryCtrl.deliveryRulesData.intervalList">
        <td
          class="grid-center-align"><b>{{deliveryCtrl.deliveryRulesData.timeIntervals[interval.id].start}} -
          {{deliveryCtrl.deliveryRulesData.timeIntervals[interval.id].end}}</b></td>
        <td class="grid-center-align">
          <input type="number" ng-model="deliveryCtrl.deliveryRulesData.timeIntervals[interval.id].mondayLimit"
                 ng-disabled="!deliveryCtrl.timeIntervalEnabled[interval.id]">
        </td>
        <td class="grid-center-align">
          <input type="number" ng-model="deliveryCtrl.deliveryRulesData.timeIntervals[interval.id].tuesdayLimit"
                 ng-disabled="!deliveryCtrl.timeIntervalEnabled[interval.id]">
        </td>
        <td class="grid-center-align">
          <input type="number" ng-model="deliveryCtrl.deliveryRulesData.timeIntervals[interval.id].wednesdayLimit"
                 ng-disabled="!deliveryCtrl.timeIntervalEnabled[interval.id]">
        </td>
        <td class="grid-center-align">
          <input type="number" ng-model="deliveryCtrl.deliveryRulesData.timeIntervals[interval.id].thursdayLimit"
                 ng-disabled="!deliveryCtrl.timeIntervalEnabled[interval.id]">
        </td>
        <td class="grid-center-align">
          <input type="number" ng-model="deliveryCtrl.deliveryRulesData.timeIntervals[interval.id].fridayLimit"
                 ng-disabled="!deliveryCtrl.timeIntervalEnabled[interval.id]">
        </td>
        <td class="grid-center-align">
          <input type="number" ng-model="deliveryCtrl.deliveryRulesData.timeIntervals[interval.id].saturdayLimit"
                 ng-disabled="!deliveryCtrl.timeIntervalEnabled[interval.id]">
        </td>
        <td class="grid-center-align">
          <input type="number" ng-model="deliveryCtrl.deliveryRulesData.timeIntervals[interval.id].sundayLimit"
                 ng-disabled="!deliveryCtrl.timeIntervalEnabled[interval.id]">
        </td>
        <td class="grid-center-align">
          <span ng-if="!deliveryCtrl.timeIntervalEnabled[interval.id]">
              <button type="button" class="btn btn-primary" ng-click="deliveryCtrl.timeIntervalsActions.edit(interval.id)">Edit</button>
          </span>

          <span ng-if="deliveryCtrl.timeIntervalEnabled[interval.id]">
              <button type="button" class="btn btn-primary" ng-click="deliveryCtrl.timeIntervalsActions.save(interval.id)">Save</button>
              <button type="button" class="btn btn-primary" ng-click="deliveryCtrl.timeIntervalsActions.cancel(interval.id)">Cancel</button>
          </span>
        </td>
      </tr>

    </table>

  </uib-accordion-group>
</uib-accordion>




