<div class="panel panel-default">

  <div class="panel-heading">Mandatory conditions</div>
  <div class="panel-body">

    <ul class="list-group">
      <li class="list-group-item" href="#" ng-repeat="value in publishCtrl.publishData.mandatory">
        {{value.description}}
      </li>

    </ul>
  </div>
</div>

<div class="panel panel-default">

  <div class="panel-heading">Optional conditions</div>
  <div class="panel-body">

    <ul class="list-group">
      <li class="list-group-item" href="#" ng-repeat="value in publishCtrl.publishData.optional">
        {{value.description}}
        <div class="pull-right">
          Enabled
          <switch id="enabled" class="green" name="enabled"
                  ng-model="value.enabled" disabled="!publishCtrl.editPublishSettings"></switch>
        </div>
      </li>

    </ul>
  </div>
</div>

<span ng-if="!publishCtrl.editPublishSettings">
        <button type="button" class="btn btn-primary"
                ng-click="publishCtrl.enablePublishSettingsEdit()">Edit
        </button>
    </span>

<span ng-if="publishCtrl.editPublishSettings">
        <button type="button" class="btn btn-primary"
                ng-click="publishCtrl.savePublishSettingsInfo()">Save
        </button>
        <button type="button" class="btn btn-primary"
                ng-click="publishCtrl.cancelPublishSettingsInfo()">Cancel
        </button>
    </span>

