<div class="panel panel-default" ng-repeat="typeName in taxCtrl.taxTypes">

  <div class="panel-heading">{{taxCtrl.getTaxTypeName(typeName)}}

    <button type="button" class="btn add-margin-left btn-default"
            ng-if="taxCtrl.createTaxButtonAvailable(typeName)"
            ng-click="taxCtrl.createTax(typeName)"
            ng-disabled="taxCtrl.editTaxAvailable[typeName]">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>

    <div class="header-input"> <!--  Tax Code Edit-->
      <label>Tax Code</label>
      <input type="text"
             ng-disabled="!taxCtrl.editTaxCodeAvailable[typeName]"
             ng-model="taxCtrl.taxCodes[typeName]">

      <span ng-if="!taxCtrl.editTaxCodeAvailable[typeName]">
        <button type="button" class="btn btn-primary" data-toggle="tooltip"
                title="Edit tax interval"
                ng-click="taxCtrl.enableTaxCodeEdit(typeName)">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
      </button>

      </span>
        <span ng-if="taxCtrl.editTaxCodeAvailable[typeName]">
          <button type="button" class="btn btn-primary" ng-click="taxCtrl.saveTaxCode(taxCtrl.taxCodes[typeName], typeName)">Save
          </button>
        <button type="button" class="btn btn-default" ng-click="taxCtrl.cancelTaxCodeEdit(typeName)">Cancel</button>
      </span>
    </div><!-- End Tax Code Edit-->


    <label class="checkbox-inline pull-right">
      <input type="checkbox" value="" ng-click="taxCtrl.changeTaxEnableStatus(typeName)"
             ng-model="taxCtrl.taxData[typeName][0].enabled">Enabled
    </label>

  </div>
  <div class="panel-body">

    <ul class="list-group">

      <li href="#" class="list-group-item" ng-repeat="tax in taxCtrl.taxData[typeName]">


        <div class="row">
          <div class="col-md-9 col-lg-9 col-sm-12">

            <div class="text-middle">
                From
            </div>

            <div ng-if="typeName !== 'WEIGHT'" class="col-lg-2 col-md-2 col-sm-12">
              <div class="input-group">

                <input type="number" class="form-control text-center" input-number-filter=""
                       placeholder="Inferior limit"
                       ng-model="tax.inferiorLimit" min="0"
                       ng-disabled="taxCtrl.disableTaxInferiorLimitInput(typeName)">
              </div>
            </div>

            <div ng-if="typeName !== 'WEIGHT'" class="text-middle">
              RON to
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12">
              <div class="input-group">
                <input type="number" input-number-filter="FLOAT" class="form-control text-center"
                       placeholder="Superior limit" min="{{tax.inferiorLimit+1}}"
                       ng-model="tax.superiorLimit"
                       ng-disabled="taxCtrl.disabledTaxInputs($index, taxCtrl.taxData[typeName], typeName)">
              </div>
            </div>

            <div ng-if="typeName !== 'WEIGHT'" class="text-middle">
              RON the tax is
            </div>
            <div ng-if="typeName === 'WEIGHT'" class="text-middle">
              kg the tax is
            </div>


            <div class="col-lg-2 col-md-2 col-sm-12">
              <div class="input-group">
                <input type="number" class="form-control text-center" placeholder="Value"
                       ng-model="tax.value"
                       ng-disabled="taxCtrl.disabledTaxInputs($index, taxCtrl.taxData[typeName], typeName)"
                       input-number-filter="FLOAT" min="0">
              </div>
            </div>

            <div ng-if="typeName === 'WEIGHT'" class="text-middle">
              RON per extra kg
            </div>
            <div ng-if="typeName !== 'WEIGHT'" class="text-middle">
              RON
            </div>


            <div class="btn-group col-lg-2 col-md-2 col-sm-12" role="group" aria-label="..."
                 ng-show="$index === taxCtrl.taxData[typeName].length - 1">

              <span ng-if="!taxCtrl.editTaxAvailable[typeName]">

              <button type="button" class="btn btn-primary" data-toggle="tooltip"
                      title="Edit tax interval"
                      ng-click="taxCtrl.enableTaxEdit(typeName, $index)">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>

              </span>

              <span ng-if="taxCtrl.editTaxAvailable[typeName]">

              <button type="button" class="btn btn-primary" ng-click="taxCtrl.saveTaxInfo()"
                      ng-disabled="taxCtrl.saveTaxButtonDisabled(tax)">
                Save
              </button>
              <button type="button" class="btn btn-default" ng-click="taxCtrl.cancelTaxInfo()">
                Cancel
              </button>

                </span>

               <span>
              <button type="button" class="btn btn-danger" data-toggle="tooltip"
                      title="Delete tax interval"
                      ng-show="taxCtrl.showDeleteTaxButton(taxCtrl.taxData[typeName], tax)"
                      ng-click="taxCtrl.deleteTax(typeName, tax)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
                </span>

            </div>

          </div>

        </div>

      </li>

    </ul>
  </div>
</div>

