<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-info btn-action " ng-click="expandAll()">Expand All</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-info btn-action " ng-click="collapseAll()">Collapse All</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-info btn-action " ng-click="openAddCategoryModal()"
                ng-disabled="disableAddCategory">
          Add Subcategory
        </button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-info btn-action " ng-click="deleteCategory()"
        ng-disabled="disableDeleteCategory">Delete Category</button>
      </div>
      <div class="col-md-6">
        <a ng-href="{{getDownloadTemplateUrl()}}" target="_blank" class="btn btn-info btn-action"
           ng-class="selected == true ? '' : 'disable-pointer-events'"
                ng-disabled="!selected">Download Category Template</a>
      </div>
      <div class="col-md-6">
        <span class="btn btn-default btn-file col-md-12" ng-disabled="!selected" ng-class="selected == true ? '' : 'disable-pointer-events'">
        Upload product attribute file
        <input type="file"
               file-model="attributeValueFile" class="btn btn-primary"/>
        </span>
      </div>
    </div>

    <div id="tree"></div>
  </div>

  <div class="col-md-8">
    <category-details category-selected="categorySelected" refresh-tree="refreshTree" ng-if="selected"></category-details>

  </div>
</div>

<!--MODAL-->
<upload-template-errors></upload-template-errors>
