<!doctype html>
<html ng-app="MadSkillsDeveloperWeb">
<head>
  <meta charset="utf-8">
  <title>MadSkillsDeveloper</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="icon" href="css/icons/favicon.svg">
  <link rel="stylesheet" href="lib/bower.min.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">


  <style>[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }</style>

</head>
<body class="ng-cloak" ng-controller="AppController as vm" layout="column">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
  href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->


<div layout="row" flex>

  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true" ng-show="vm.user">

    <md-toolbar class="md-medium-tall" layout="row" layout-align="center" flex>

      <h2>#MadSkillsDeveloper</h2>

    </md-toolbar>
    <md-content layout="column" flex>


      <md-list>

        <md-list-item class="md-2-line" ng-repeat="item in vm.navbarItems" ng-click="null">


          <img ng-src="{{item.icon}}" class="md-avatar" alt="{{item.title}}"/>


          <div class="md-list-item-text">
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
          </div>

          <md-divider></md-divider>

        </md-list-item>

      </md-list>


    </md-content>

  </md-sidenav>


  <div layout="column" flex id="content">

    <md-nav-bar ng-show="vm.user" layout="row" layout-align="end center" layout-padding md-selected-nav-item="null" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('page1')" name="page1" flex >{{vm.user.fullName}}</md-nav-item>
      <img ng-src="{{vm.user.imageLink}}" class="md-avatar profile-image" alt=""/>


    </md-nav-bar>
    <md-content  class="main-view" ui-view layout="column" layout-padding flex></md-content>
  </div>


</div>


</div>


<script src='//maps.googleapis.com/maps/api/js?key=AIzaSyCYCsJ2iLLYYrP0H2vnZClT2-FI8cJxmQM'></script>
<script src="lib/bower.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<script src="https://cdn.jsdelivr.net/satellizer/0.15.5/satellizer.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.js"></script>

<script src="js/app.min.js"></script>

</body>
</html>
