<div class="header">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <ul class="nav navbar-nav">

        <li ng-repeat="(stateName, item) in navCtrl.tabs" ng-if="navCtrl.hasRightsFor(stateName)"
            ng-class="{'tab-active':navCtrl.isActive(item.baseUrl)}">
          <a href="" ui-sref="{{stateName}}">
            {{item.title}}
          </a>

        </li>

      </ul>


      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="" data-toggle="dropdown" role="button" aria-expanded="false">
            {{navCtrl.user.username}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="" class="profile-dropdown-bold disable-hover" ng-click="navCtrl.clickStore(null, $event)">
                Store
              </a>
            </li>

            <li role="separator" class="divider"></li>

            <li ng-repeat="store in navCtrl.getStores()" class="disable-hover">
              <a href="" class="disable-hover" ng-click="navCtrl.clickStore(store, $event)">{{store.name + ' (' + store.code + ')'}}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"
                      ng-show="navCtrl.isCurrentStore(store)"></span>
              </a>
            </li>

            <li role="separator" class="divider"></li>
            <li>
              <a href="" ng-click="navCtrl.logout()">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                Log Out
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown alert-container" ng-if="navCtrl.hasRightsFor('alerts')" badge-panel>
        </li>

      </ul>

    </div>
  </nav>

</div>
